.letterContainer {
	--letter-width: 350px;
	--letter-height: 200px;
	--letter-body-height: 360px;
	--form-top-offset: 170px;
	--letter-translate-delay: 0.5s;
	--letter-sending-delay: 2s;

	--letter-primary-color: #d8dbdd;
	--letter-secondary-color: #cbd0d4;
	--letter-tertiary-color: #c4c5c7;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 400px;

	padding-inline: 10px;
}

.letter {
	margin-top: var(--form-top-offset);
	width: var(--letter-width);
	height: var(--letter-height);
	background: var(--letter-primary-color);
	position: relative;
	transform-style: preserve-3d;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}

.letter:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
	width: var(--letter-width);
	height: var(--letter-height);
	background-color: var(--letter-secondary-color);
	z-index: 6;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.letter:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(0 0, 100% 100%, 0 100%);
	width: var(--letter-width);
	height: var(--letter-height);
	background-color: var(--letter-tertiary-color);
	z-index: 5;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.letterBang {
	position: absolute;
	top: calc(var(--letter-height) / -2);
	left: 0;
	transform-origin: bottom;
	transform: rotateX(0deg);
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	background-color: var(--letter-primary-color);
	width: var(--letter-width);
	height: calc(var(--letter-height) / 2);
	z-index: 3;
	transition: all var(--letter-translate-delay);
}

.letterBody {
	position: relative;
	top: calc(var(--form-top-offset) * -1);
	left: 10px;
	background: #e4e1e1;
	border-radius: 20px;
	padding: 10px;

	width: calc(var(--letter-width) - 20px);
	height: var(--letter-body-height);

	transition: all var(--letter-translate-delay) var(--letter-translate-delay);

	display: flex;
	align-items: center;
	flex-direction: column;

	overflow: hidden;
	z-index: 4;
}

.sended .letterBang {
	transform: rotateX(-180deg);
	z-index: 6;
	transition: all var(--letter-translate-delay) var(--letter-translate-delay);
}

.sended .letterBody {
	top: 10px;
	transition: all var(--letter-translate-delay);
	height: calc(var(--letter-height) - 20px);
}

.sended.letter {
	animation: letterSending var(--letter-sending-delay)
			var(--letter-translate-delay) forwards,
		letterAppearance var(--letter-sending-delay) var(--letter-sending-delay)
			forwards;
}

.successMessage {
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-weight: 600;
	font-size: 30px;
	opacity: 0;
	color: var(--letter-secondary-color);
}

.sended.successMessage {
	animation: messageAppearance var(--letter-sending-delay)
		calc(var(--letter-sending-delay) / 2);
}

@keyframes letterSending {
	0% {
		margin-top: var(--form-top-offset);
		transform: translateX(0);
		color: transparent;
	}
	50% {
		margin-top: 0;
		transform: translateX(0);
	}
	100% {
		margin-top: 0;
		transform: translateX(1000px);
	}
}

@keyframes letterAppearance {
	0% {
		margin-top: 0;
		transform: translateX(-1000px);
	}
	50% {
		margin-top: 0;
		transform: translateX(0);
	}
	100% {
		margin-top: var(--form-top-offset);
		transform: translateX(0);
	}
}

@keyframes messageAppearance {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
