@keyframes appearance {
	0% {
		scale: 0.7;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

.baseWidget {
	z-index: 4;
	width: min-content;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
}

.baseWidget.disabled {
	z-index: 3;
}

header.disabled {
	transition: all var(--transition-delay) linear;
	filter: grayscale(1);
}

.baseWidget article {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-color: rgb(255, 255, 255);
	animation: appearance var(--transition-delay) linear forwards;
}

.widgetBody {
	padding: 10px;
}
