@keyframes appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.baseWidget {
	background-color: rgb(255, 255, 255);
	z-index: 4;
	width: min-content;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	animation: appearance var(--transition-delay) linear forwards;
	&:active {
		cursor: grab;
	}
}

.disabled {
	z-index: 3;
	filter: grayscale(1);
}

.widgetBody {
	padding: 10px;
}
