@keyframes appearance {
	0% {
		scale: 0.7;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes close {
	0% {
		scale: 1;
		opacity: 1;
	}
	100% {
		scale: 0.7;
		opacity: 0;
	}
}

.baseWidget {
	z-index: 4;
	width: min-content;
	position: absolute;
}

.baseWidget.disabled {
	z-index: 3;
}

header.disabled {
	transition: all var(--transition-delay) linear;
	filter: grayscale(1);
}

.baseWidget article {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	animation: appearance var(--transition-delay) linear;
}

.widgetBody {
	background-color: var(--widget-body-color);
}

.close {
	animation: close var(--transition-delay) linear forwards !important;
}
