.desktopContainer {
	overflow: hidden;
	opacity: 1;
	transition: opacity var(--animation-delay) ease;
}

.desktop {
	display: flex;
	position: relative;
	flex-direction: column;
	background-image: url(../../assets/wallpapers/night.jpg);
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.hidden {
	& > * {
		opacity: 0;
	}
}
