.musicContainer {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	width: 300px;
}

.info {
	display: grid;
	align-items: center;
	color: var(--text-color);

	grid-template-columns: 80px 1fr;
	text-align: left;
	column-gap: 20px;
	grid-template-areas:
		'picture title'
		'picture author';
}

.musicPicture {
	grid-area: picture;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	background-size: cover;
}

.musicTitle {
	letter-spacing: -5%;
	grid-area: title;
	font-size: 24px;
	line-height: 32px;
	color: var(--main-pressed);
	font-weight: bold;
	align-self: flex-end;
}

.musicAuthor {
	margin-top: 7px;
	color: var(--main-pressed);
	letter-spacing: -5%;
	align-self: flex-start;
	grid-area: author;
	white-space: nowrap;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	opacity: 0.48;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	color: var(--main-pressed);

	& > * {
		cursor: pointer;
		width: 30px;
		height: 30px;
	}
}

.timeline {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.timeline progress {
	width: 100%;
	height: 7px;
	appearance: none;
	border-radius: 3px;
}

.progressBar {
	width: 100%;
	height: 7px;
	background-color: var(--main-focus);
	border-radius: 10px;
}

.progress {
	position: relative;
	height: 7px;
	border-radius: 10px;
}

.progress::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: var(--main-pressed);
	border-radius: 50%;
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}

.timeline span {
	font-family: 'Syne';
	margin-top: 4px;
	color: var(--main-pressed);
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
