:root {
	--text-color: rgb(231, 231, 231);
	--secondary-text-color: #9a9ab3;
	--text-hovered-color: rgb(224, 160, 240);
	--transition-delay: 0.1s;
	--animation-delay: 0.5s;

	--black-color: rgb(0, 0, 0);
	--alpha-black-color: rgba(0, 0, 0, 0.2);
	--separator-color: rgb(255, 255, 255, 0.5);

	--widget-header-color: rgba(0, 0, 0, 0.45);
	--widget-body-color: rgba(0, 0, 0, 0.4);

	/* Настройки для десктопа */
	--desktop-label-width: 110px;
	--desktop-label-height: 110px;
	--desktop-label-font-size: 20px;

	@media screen and (max-width: 768px) {
		--desktop-label-width: 120px;
		--desktop-label-height: 120px;
		--desktop-label-font-size: 20px;
	}
}

html,
body,
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
}
body {
	font-family: 'Titillium Web', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
