@keyframes init {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.explorerContainer {
	padding: 10px;
	display: grid;
	animation: init var(--animation-delay) var(--transition-delay) ease forwards;
	opacity: 0;

	min-width: 400px;
	min-height: 300px;

	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--desktop-label-width), 1fr)
	);
	grid-template-rows: repeat(
		auto-fill,
		minmax(var(--desktop-label-height), 1fr)
	);
	gap: 10px;
}
